{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Ignite-Validation</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
  <h1>Registered Students</h1>
  <table>
        <thead>
            <tr>
                <th>Payment Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>College Name</th>
                <th>College Department</th>
                <th>Event Name</th>
                <th>Payment ID</th>
                <th>Team Members</th>
                <th>Team Member 1</th>
                <th>Team Member 2</th>
                <th>Team Member 3</th>
                <th>Type of Event</th>
                <th>Payment Screenshot</th>
            </tr>
        </thead>
        <tbody>
          {% for i in response %}
            <tr>
                <td><a href = "{% url "info" %}">{{i.payment_id}}</a></td>
                <td>{{i.first_name}} {{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.college_name}}</td>
                <td>{{i.college_department}}</td>
                <td>{{i.event_name}}</td>
                <td>{{i.payment_id}}</td>
                <td>{{i.team_members}}</td>
                <td>{{i.teammember1}}</td>
                <td>{{i.teammember2}}</td>
                <td>{{i.teammember3}}</td>
                <td>{{i.is_team_event}}</td>
                <td>{{i.payment_screenshot}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>