<!-- your_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry List</title>
</head>
<body>
    <h2>Registered Students List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>College Name</th>
                <th>College Department</th>
                <th>Event Name</th>
                <th>Payment ID</th>
                <th>Team Member 1</th>
                <th>Team Member 2</th>
                <th>Team Member 3</th>
                <th>Signature</th>
            </tr>
        </thead>
        <tbody>
            {% for i in response %}
            <tr>
                <td>{{i.first_name}}{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.college_name}}</td>
                <td>{{i.college_department}}</td>
                <td>{{i.event_name}}</td>
                <td>{{i.payment_id}}</td>
                <td>{{i.teammember1}}</td>
                <td>{{i.teammember2}}</td>
                <td>{{i.teammember3}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
